<mat-card>
   <mat-card-title-group>
     <mat-card-title>Distance and Azimuth</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>Given a pair of points, calculate the distance and azimuths (bearings) between the two points.</p>
   
    <p>For <a href="https://en.wikipedia.org/wiki/Geographic_coordinate_system">geographic coordinate systems</a>
    the <a href="https://en.wikipedia.org/wiki/Vincenty%27s_formulae#Inverse_problem">Vincenty's inverse problem formula</a>
    and coordinate system's ellipsoid is used. Latitude and Longitude coordinates, can be entered as either
    Degrees, Minutes, and Seconds (DMS) or Decimal degrees. DMS can be in any of the formats 9:9:9.999, 9°9'9.9", or 9 9 9.9.</p>
    
    <p>For <a href="https://en.wikipedia.org/wiki/Map_projection">projected coordinate systems</a>
    the <a href="https://en.wikipedia.org/wiki/Pythagorean_theorem#Euclidean_distance_in_various_coordinate_systems">euclidean distance</a>
    and <a href="https://en.wikipedia.org/wiki/Analytic_geometry#Distance_and_angle">angle</a> formula are used.</p>
  </mat-card-content>
</mat-card>
<mat-card [formGroup]="form">
  <app-cs-field formControlName="cs">
  </app-cs-field>

  <app-point-field [parentForm]="form" name="fromPoint" [cs]="cs" prefix="From">
  </app-point-field>  

  <app-point-field [parentForm]="form" name="toPoint" [cs]="cs" prefix="To">
  </app-point-field>  
</mat-card>

<mat-card *ngIf="hasResult">
  <mat-card-title>Result</mat-card-title>
  <div class="flexRowToColumn"> 
    <mat-form-field>
      <input matInput [(ngModel)]="azimuth1" placeholder="Azimuth From -> To" >
     </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="azimuth2" placeholder="Azimuth To -> From" >
     </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="distance" placeholder="Distance" >
    </mat-form-field>
  </div>
</mat-card>
