<mat-card [formGroup]="form">
  <app-cs-field formControlName="cs">
  </app-cs-field>
</mat-card>

<app-point-field [parentForm]="form" name="fromPoint" title="From Point" [cs]="cs">
</app-point-field>  

<app-point-field [parentForm]="form" name="toPoint" To="From Point" [cs]="cs">
</app-point-field>  

<mat-card *ngIf="hasResult">
  <mat-form-field>
    <input matInput [(ngModel)]="azimuth1" placeholder="Azimuth From -> To" >
   </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="azimuth2" placeholder="Azimuth To -> From" >
   </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="distance" placeholder="Distance" >
   </mat-form-field>
</mat-card>
