<mat-card>
   <mat-card-title-group>
     <mat-card-title>Point Offset</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>Given a point, distance, and azimuth (bearing) calculate the location of a new point.</p>
   
    <p>For <a href="https://en.wikipedia.org/wiki/Geographic_coordinate_system">geographic coordinate systems</a>
    the <a href="https://en.wikipedia.org/wiki/Vincenty%27s_formulae#Direct_Problem">Vincenty's direct problem formula</a>
    and coordinate system's ellipsoid is used. Latitude and Longitude coordinates, can be entered as either
    Degrees, Minutes, and Seconds (DMS) or Decimal degrees. DMS can be in any of the formats 9:9:9.999, 9°9'9.9", or 9 9 9.9.</p>
    
    <p>For <a href="https://en.wikipedia.org/wiki/Map_projection">projected coordinate systems</a>
    the <a href="https://en.wikipedia.org/wiki/Pythagorean_theorem#Pythagorean_trigonometric_identity">Pythagorean trigonometric identity formula</a> are used.</p>
  </mat-card-content>
</mat-card>
 
<mat-card [formGroup]="form">
  <div class="flexRowToColumn">
    <app-cs-field formControlName="cs">
    </app-cs-field>
  </div>
  
  <app-point-field [parentForm]="form" name="point" [cs]="cs" prefix="From">
  </app-point-field>  

  <div class="flexRowToColumn" style="margin-top:10px"> 
    <mat-form-field>
      <input matInput formControlName="distance" placeholder="Distance">
      <mat-hint>metres</mat-hint>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="azimuth" placeholder="Azimuth From -> To">
      <mat-hint><span matTooltip="Degrees Minutes Seconds: 9:9:9.999, 9°9'9.9&quot;, or 9 9 9.9" matTooltipPosition="after">DMS 9°9'9.9</span>
      or <span matTooltip="Decimal Degrees 9.9" matTooltipPosition="after">Decimal 9.9°</span></mat-hint>
    </mat-form-field>
  </div>
</mat-card>

<mat-card *ngIf="hasResult">
  <mat-card-title>Result</mat-card-title>
  <app-point-field [parentForm]="resultForm" name="toPoint" [cs]="cs" editable="false" prefix="To">
  </app-point-field>  

  <div class="flexRowToColumn" style="margin-top:10px"> 
    <mat-form-field>
      <input matInput [(ngModel)]="azimuth2" placeholder="Azimuth To -> From" >
     </mat-form-field>
  </div>
</mat-card>
