<mat-card [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput formControlName="longitude1" placeholder="Longitude">
      <mat-hint><span matTooltip="Degrees Minutes Seconds: 9:9:9.999, 9°9'9.9&quot;, or 9 9 9.9" matTooltipPosition="after">DMS 9°9'9.9</span>
      or <span matTooltip="Decimal Degrees 9.9" matTooltipPosition="after">Decimal 9.9°</span></mat-hint>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="latitude1" placeholder="Latitude">
      <mat-hint><span matTooltip="Degrees Minutes Seconds: 9:9:9.999, 9°9'9.9&quot;, or 9 9 9.9" matTooltipPosition="after">DMS 9°9'9.9</span>
      or <span matTooltip="Decimal Degrees 9.9" matTooltipPosition="after">Decimal 9.9°</span></mat-hint>
     </mat-form-field>
  </div>
  
  <mat-divider style="margin-top: 1.5em"></mat-divider>

  <div style="margin-top: 2em">
    <mat-form-field>
      <input matInput formControlName="distance" placeholder="Distance">
      <mat-hint>metres</mat-hint>
   </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="azimuth" placeholder="Azimuth 1-2">
      <mat-hint><span matTooltip="Degrees Minutes Seconds: 9:9:9.999, 9°9'9.9&quot;, or 9 9 9.9" matTooltipPosition="after">DMS 9°9'9.9</span>
      or <span matTooltip="Decimal Degrees 9.9" matTooltipPosition="after">Decimal 9.9°</span></mat-hint>
    </mat-form-field>
  </div>
 </mat-card>

<mat-card *ngIf="hasResult">
  <mat-form-field>
    <input matInput [(ngModel)]="longitude2" placeholder="Longitude">
  </mat-form-field>
    
  <mat-form-field>
    <input matInput [(ngModel)]="latitude2" placeholder="Latitude">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="azimuth2" placeholder="Azimuth 2-1" >
   </mat-form-field>
</mat-card>
