<mat-toolbar color="primary">
  <mat-toolbar-row>
  
    <a routerLink="point-offset" mat-button >Point Offset</a>
    <a routerLink="distance-angle" mat-button>Distance/Azimuth</a>
    <a routerLink="coordinate-system-conversion" mat-button>Coordinate System Conversion</a>
    <a routerLink="meridian-convergence" mat-button>Meridian Convergence &amp; Point Scale Factor</a>
    <a routerLink="scale-factor-tt-correction" mat-button>Line Scale Factor and TT convergence</a>
  
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet>
</router-outlet>

  <mat-menu #menuEllipsoid="matMenu">
  </mat-menu>
